@font-face {
	font-family: "Glober";
	src: local('Glober Regular'),
	url("../fonts/GloberRegular.woff") format("woff"),
	url("../fonts/GloberRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Glober';
	src: local('Glober Bold'),
	local('GloberBoldFree'),
	url('../fonts/GloberBold.woff2') format('woff2'),
	url('../fonts/GloberBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: Glober, Arial, sans-serif;
	color: #565656;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}