<template>
  <table class="table">
    <tr class="table__row  table__row--header">
      <td class="table__cell">Валюта</td>
      <td class="table__cell">Банк покупает</td>
      <td class="table__cell">Банк продает</td>
    </tr>
    <tr class="table__row" v-for="(item, index) in courses">
      <td class="table__cell  table__cell--name">
        <span class="table__icon  table__icon--currency">
          <img :src="item.icon" alt="" v-if="item.icon">
        </span>
        <span class="table__text  table__text--mid">
          {{item.name}}
          <span class="table__count" v-if="item.count">({{item.count}})</span>
        </span>
      </td>
      <td class="table__cell  table__cell--course" :class="[index === 0 ? 'table__cell--big' : '']">
        <span class="table__text  table__text--mid" :class="[index === 0 ? 'table__text--big' : '']">{{item.buy}}</span>
        <span class="table__icon  table__icon--arrow">
          <img src="../assets/img/icon__arrow--top.svg" alt="">
        </span>
      </td>
      <td class="table__cell  table__cell--course" :class="[index === 0 ? 'table__cell--big' : '']">
        <span class="table__text  table__text--mid"
                :class="[index === 0 ? 'table__text--big' : '']">{{item.sell}}</span>
        <span class="table__icon  table__icon--arrow">
          <img src="../assets/img/icon__arrow--bottom.svg" alt="">
        </span>
      </td>
    </tr>
  </table>
</template>

<script>
  export default {
    name: 'ExchangeTable',
    props: [
      'courses'
    ]
  }
</script>

<style lang="scss" scoped>
  .table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 315px;
      height: 2px;
      background: #efefef;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .table__row {
    display: flex;
    width: 100%;
    &:nth-of-type(odd) {
      background: #efefef;
    }
  }

  .table__row--header {
    font-size: 22px;
    line-height: 1;
    .table__cell {
      padding-top: 6px;
      &:first-of-type {
        padding-left: 98px;
      }
    }
  }

  .table__cell {
    padding: 10px 40px 0;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    &:nth-of-type(1) {
      flex-grow: 1;
    }
    &:nth-of-type(2) {
      width: 230px;
    }
    &:nth-of-type(3) {
      width: 295px;
    }
  }

  .table__cell--big {
    height: 90px;
  }

  .table__cell--name {
    text-transform: uppercase;
  }

  .table__cell--course {
    .table__text {
      width: 115px;
      text-align: center;
    }
  }

  .table__text {
    color: #474747;
    line-height: 1;
  }

  .table__text--mid {
    font-size: 32px;
  }

  .table__text--big {
    font-size: 36px;
  }

  .table__count {
    display: block;
    font-size: 26px;
  }

  .table__icon--currency {
    margin-right: 40px;
  }

  .table__icon--arrow {
    width: 15px;
    height: 13px;
    margin-top: -13px;
    img {
      vertical-align: top;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .table--min {
    .table__row--header {
      font-size: 18px;
    }
    .table__cell--big,
    .table__cell {
      height: 60px;
    }
    .table__icon--arrow {
      width: 10px;
      height: 9px;
      margin-top: -3px;
    }
    .table__text--big,
    .table__text--mid {
      font-size: 22px;
    }
  }
</style>