<template>
  <header class="header">
    <div class="header__logo">
      <img alt="Alfa Bank" src="../assets/img/icon__logo.svg">
    </div>
    <div class="header__clock">
      <a href="#" class="header__back">
        <img src="../assets/img/icon__arrow--big.svg" alt="">
      </a>
      <Clock></Clock>
    </div>
    <div class="header__call">
      <img src="../assets/img/icon__call.svg" alt="">
      <span>198</span>
    </div>
  </header>
</template>

<script>
  import Clock from './Clock.vue'

  export default {
    name: 'Header',
    components: {
      Clock,
    },
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 24px 49px 40px;
  }

  .header__logo {
    margin-bottom: -25px;
  }

  .header__clock {
    position: relative;
  }

  .header__back {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -61px;
    padding: 10px 20px;
  }

  .header__call {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: -18px;
    color: #db342a;
    img {
      margin-top: -5px;
      margin-right: 4px;
    }
  }
</style>