<template>
  <div class="slider  swiper-container  js-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="slide in slides" :class="{'swiper-slide--video': slide.video}">
        <img :src="slide.img" alt="" v-if="slide.img">
        <video :src="slide.video" v-if="slide.video" autoplay loop></video>
      </div>
    </div>
    <div class="slider__footer">
      <div class="slider__tags">
        #bebrave #besmart #beinsync
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</template>

<script>
  require('../assets/css/swiper.css')
  require('../assets/js/swiper.min.js')

  export default {
    name: 'Slider',
    props: ['slides'],
    mounted() {
      const mySwiper = new Swiper('.js-slider', {
        // required options
        a11y: false,

        effect: "cube",
        speed: 800,

        // infinity scroll
        loop: true,

        autoplay: {
          delay: 5000,
        },

        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true,
        },

        on: {
          slideChange: animateDot,
          imagesReady: animateDot,
        }
      });

      function animateDot() {
        const dots = this.$el[0].querySelectorAll('.swiper-pagination-bullet')
        const activeDot = this.$el[0].querySelector('.swiper-pagination-bullet-active')
        if (dots.length) {
          for (var i = 0, len = dots.length; i < len; ++i) {
            const svg = dots[i].querySelector('svg')
            if (svg) {
              dots[i].removeChild(svg)
            }
          }
        }
        if (activeDot) {
          activeDot.insertAdjacentHTML('beforeend', `
              <svg width="37px" height="37px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <path fill="none" d="M50 35A15 15 0 0 1 50 65A15 15 0 0 1 50 35" stroke="#FE4C40" stroke-width="30">
                  <animate attributeName="stroke-dasharray" calcMode="linear" values="0 0 0 95;0 0 95 95;0 95 95 95"
                          keyTimes="0;0.5;1" dur="12s" keySplines="0.5 0 0.5 1" begin="0s"></animate>
                </path>
              </svg>`)
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .slider {
    width: 100%;
    .swiper-slide {
      height: 1080px;
    }
    .swiper-slide--video {
      background: #ffffff url("../assets/img/bg__slider.png") top right / contain no-repeat;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      video {
        width: 980px;
        height: 551px;
        background: #c4c4c4;
      }
    }
    .slider__footer {
      padding: 14px;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      z-index: 2;
      height: 71px;
      background: rgba(71, 71, 71, 0.75);
      box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .slider__tags {
      font-size: 18px;
      line-height: 18px;
      color: #efefef;
      word-spacing: 6px;
      margin-bottom: 10px;
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
    }
  }
</style>