<template>
  <div class="exchange-page" id="app">
    <div class="exchange-page__body">
      <div class="exchange-page__left">
        <div class="exchange-page__content">
          <div class="exchange-page__wrap">
            <Header></Header>
            <h1 class="exchange-page__title">Курсы валют</h1>
            <h2 class="exchange-page__caption  exchange-page__caption--big">Наличный расчет</h2>
            <div class="exchange-page__info">
              Установлен с
              <span class="exchange-page__time">{{setTime}}</span>
            </div>
            <div class="exchange-page__section">
              <ExchangeTable :courses="exchangeTableCash"></ExchangeTable>
            </div>
            <div class="exchange-page__section  exchange-page__section--conversions">
              <h3 class="exchange-page__caption">Курсы конверсии</h3>
              <ExchangeTable class="table--min" :courses="exchangeTableConversions"></ExchangeTable>
            </div>
            <div class="exchange-page__footer">
              Отделение «The Best Place at the World»
            </div>
          </div>
        </div>
      </div>
      <div class="exchange-page__right">
        <Slider :slides="slidesList"></Slider>
      </div>
    </div>
  </div>
</template>

<script>
  require('./assets/css/normalize.css')
  require('./assets/css/style.css')

  import Header from './components/Header.vue'
  import ExchangeTable from './components/ExchangeTable.vue'
  import Slider from './components/Slider.vue'

  export default {
    name: 'app',
    data: function () {
      return {
        setTime: '09:30',
        exchangeTableCash: [
          {name: 'usd', buy: 2.075, sell: 2.115, icon: './assets/img/currency__usd.png'},
          {name: 'eur', buy: 2.375, sell: 2.415, icon: './assets/img/currency__eur.png'},
          {name: 'rub', count: '100', buy: 3.175, sell: 3.215, icon: './assets/img/currency__rub.png'},
        ],
        exchangeTableConversions: [
          {name: 'eur/usd', buy: 1.171, sell: 1.115},
          {name: 'eur/rub', buy: 69.2, sell: 71.2},
          {name: 'usd/rub', buy: 61, sell: 63.3},
        ],
        slidesList: [
          {img: './assets/img/img__slides--1.jpg',},
          {video: './assets/video/slide--1.mp4',},
          {img: './assets/img/img__slides--1.jpg',},
          {video: './assets/video/slide--1.mp4',},
          {img: './assets/img/img__slides--1.jpg',},
        ],
      }
    },
    components: {
      Header,
      ExchangeTable,
      Slider,
    }
  }
</script>

<style lang="scss" scoped>
  .exchange-page {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
  }

  .exchange-page__body {
    display: flex;
    overflow: hidden;
  }

  .exchange-page__left {
    flex: 0 0 auto;
    width: 922px;
    position: relative;
    z-index: 2;
  }

  .exchange-page__content {
    margin-left: -100px;
    padding-left: 100px;
    width: 1068px;
    box-sizing: border-box;
    transform: skewX(-4.8deg);
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .exchange-page__wrap {
    width: 983px;
    transform: skewX(4.8deg);
  }

  .exchange-page__title {
    padding: 0;
    font-size: 44px;
    line-height: 53px;
    font-weight: 700;
    text-align: center;
    color: #474747;
    margin: 0 0 12px;
  }

  .exchange-page__caption {
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .exchange-page__caption--big {
    margin-bottom: 19px;
    font-size: 28px;
    line-height: 34px;
  }

  .exchange-page__section {
    margin-bottom: 16px;
  }

  .exchange-page__section--conversions {
    .exchange-page__caption {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .exchange-page__info {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 45px;
  }

  .exchange-page__time {
    position: relative;
    color: #db342a;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      bottom: -1px;
      height: 2px;
      background: #db342a;
      border-radius: 5px;
    }
  }

  .exchange-page__footer {
    padding-top: 14px;
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .exchange-page__right {
    position: relative;
    z-index: 1;
    width: 998px;
    background: #c4c4c4;
    display: flex;
  }
</style>